#topNav {
  background: #256333;
  box-shadow: 0px 1px 10px 10px #bbedc7;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
  height: auto;
  text-align: center;
  width: 100%;
}
#topNav li {
  display: inline;
}
#topNav a {
  color: #ffffff;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  margin: 0px;
  padding: 0px 15px;  /*  top/bottom | left/right  */
  text-decoration: none;
  transition: color 0.3s ease-in;  /*  property | time | method  */
}
#topNav a:hover {
  color: #99c5d1;
}

body {
  font-family: Verdana;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
}

.choice {
  font-style: italic;
}

h1 {
  border-style: groove;
  border-width: 2px;
  border-color: #99add1;
}

h1 {
  text-align: center;
}

  
